*.tgz
*.deb
*.zip

*.ipynb_checkpoints/

.python-version

*.pickle
*.p

*__pycache__
*.npy
*.pyc

build

CMakeLists.txt.user*

# LaTeX artifacts
*blx.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
